body,
input,
select, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
}

p {
  font-size: 20px;
  width: 150px;
  margin-left: 18px;
  color: #66CCCC;
}

label {
  font-size: 20px;
  width: 150px;
  margin-left: 18px;
  color: #66CCCC;
}

div {
	padding-top: 8px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #66CCCC;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  color: #66CCCC;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #388E8E;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 10px;
}

input {
	border: 0;
	background-color: #D1EEEE;
	height: 25px;
}

button {
	background-color: white;
	border: 2px solid #66CCCC;
	border-radius: 8px;
	width: 100px;
	tex-alight: center;
	font-size: 12px;
	color: black;
	height: 30px;	
	margin-left: 20px;
}

button:hover {
	background-color: #66CCCC;
	border: 2px solid #66CCCC;
	border-radius: 8px;
	width: 100px;
	tex-alight: center;
	font-size: 12px;
	color: white;;
	height: 30px;	
}

a {
	color: #66CCCC;
	font-style: italic;
	margin-left: 20px;
}

img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.7;
}

.cols {
	float: left;
}


table {
  border-collapse: collapse;
}
 th {
  background: #5F9F9F;
}

th, td {
  border: 1px solid #;
  padding: 8px;
}

tr:nth-child(even) {
  background: #d1EEEE;
}

tr:nth-child(odd) {
  background: #96CDCD;
}
tr:hover {
  background: #96CDCD;
}
